/* Error: Undefined variable.
 *    ,
 * 18 |   height: $height;
 *    |           ^^^^^^^
 *    '
 *   sass/pages/home.scss 18:11  main-content-styleds()
 *   sass/pages/home.scss 37:3   @import
 *   sass/style.scss 1:9         root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 18 \2502    height: $height;\a    \2502            ^^^^^^^\a    \2575 \a   sass/pages/home.scss 18:11  main-content-styleds()\a   sass/pages/home.scss 37:3   @import\a   sass/style.scss 1:9         root stylesheet";
}
